version: "3"
services:
  db-filler:
    container_name: my5grantester-open5gs-db-filler
    build:
      context: ./my5G-RANTester-Database-Filler/
    volumes:
      - ./data:/app/data
    environment:
      - NUM_DEVICES=${NUM_DEVICES}
    networks:
      default:
          ipv4_address: 172.22.0.35

networks:
    default:
        external:
            name: docker_open5gs_default
